source https://api.nuget.org/v3/index.json
framework: auto-detect
storage: none

nuget FSharp.Core >= 4.7 lowest_matching: true
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.MaterialUI.Icons
nuget Fable.MaterialUI.MaterialDesignIcons
nuget Fable.Mocha
nuget Fable.SimpleHttp
nuget Feliz
nuget Feliz.ElmishComponents
nuget Feliz.Markdown
nuget Feliz.Router
nuget FSharp.Data
nuget ReverseMarkdown
nuget Zanaptak.TypedCssClasses

group FakeBuild
  source https://api.nuget.org/v3/index.json
  framework: auto-detect
  storage: none

  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Paket
  nuget Fake.JavaScript.Npm
  nuget System.Text.Json
